
<div class="container">
  <h1>List of all boxes</h1>
  <ul>
    <% @boxbikes.each do |boxbike| %>
      <li> <%= link_to boxbike.address, boxbike_path(boxbike) %><%= " | " %><%= link_to boxbike.user.name, boxbike_path(boxbike) %></li>
    <% end %>
  </ul>
  <h3>Have a box to rent ?</h3>
  <% if policy(Boxbike).create? %>
    <%= link_to "create your box", new_boxbike_path %>
  <% end %>
  <br>
  <%= link_to "Back to Home", root_path  %>

  <div id="map-index"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


