<div class="container">
  <div class="index-content d-flex">
    <div class="col-6">
      <% @boxbikes.each do |boxbike| %>
          <div class="card-product">
            <!-- <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/500x200/?cocktail0')"> -->
        <!-- <a href="/cocktails/1">Mojito</a> -->
      <!-- </div> -->
            <%#= image_tag "https://source.unsplash.com/weekly?water" %>
              <%= image_tag "https://source.unsplash.com/weekly?bike#{boxbike.id}" %>
              <%#= render "shared/index_card_image" %>
              <div class="card-product-infos">
                <h2><%= link_to boxbike.address, boxbike_path(boxbike) %></h2>
                <p><%= link_to boxbike.user.name, dashboard_path(boxbike) %></p>
              </div>
            </div>
      <% end %>
  </div>
   <div id="map" class="col-6"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
 </div>
</div>
