<div class="container">
  <h2>Offer a Bikebox</h2>

  <%= simple_form_for [ @user, @boxbike ] do |f| %>
    <%= f.input :address %>
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <br>
    <strong><%= f.label :charge_option, "Does your Bikebox have an electric charger?:" %></strong>
    <%= f.select :charge_option, ["No", "Yes"] %>
    <br>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
  <br>
  <%= link_to "Back to boxes list", boxbikes_path %>
  <br>
  <%= link_to "Back to Home", root_path  %>
</div>


