<div class="container">
  <h1>Bikebox details</h1>
  <ul>
    <li><%= "renter's name: " %><%= @boxbike.user.name %> </li>
    <li><%= "box address: " %><%= @boxbike.address %></li>
    <li><%= "capacity: " %><%= @boxbike.capacity %></li>
    <li>spots left :<%= @boxbike.spots_left %></li>
    <li><%= " Total price of box: " %><%= @boxbike.price %></li>
    <li>Price per spot : </li>
    <li> <% if @boxbike.charge_option%>
         <%= "electricity available" %>
         <% else %>
         <%= "No electricity" %>
         <% end %>
    <li>
      <div id="map-show"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div></li>
  </ul>

<div>
  <div class="container">
    <div class="form-wrapper">
      <h2>Book a bikebox</h2>
      <%= simple_form_for [ @boxbike, @contract ] do |f| %>
        <%= f.input  :start_date, label: "Select your dates:", as: :string, required: false, input_html: {id: "range_start", class: "d-none"} %>
        <%= f.input  :end_date, label: false, as: :string, required: false, input_html: {id: "range_end", class: "d-none"} %>
        <%= f.input  :number_bikes, input_html: {id: "total-bikes"} %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
      <p>Booking for <span id="total-days">0</span> days</p>
      <p>Total price : <span id="total-price">0</span> € </p>
      <p>
        Price per bike :
        <span id="box-price-per-day"><%= @boxbike.price %></span> € / day
      </p>
    </div>
  </div>
</div>
  
<div
  id="contract-form-div"
  data-contracts="<%= @contracts_dates.to_json %>">
<div>
  <div>
    <%= link_to "Back to boxes list", boxbikes_path %>
    <br>
    <%= link_to "Back to Home", root_path  %>
    <br>
    <% if policy(@boxbike).edit? %>
      <%= link_to "Edit your Bikebox", edit_boxbike_path(@boxbike)  %>
    <% end %>
    <br>
    <% if policy(@boxbike).destroy? %>
    <%= link_to "Delete", boxbike_path(@boxbike), method: :delete, data: { confirm: "Are you sure?"} %>
    <br>
    <% end %>
    <br>
  </div>
</div>
</div>