<div class="container">
  <div class="index-content d-flex">
    <div class="col-7">
      <div class="card-category" id="card-category">
        <h2>Bikebox details</h2>
        <ul>
          <li><strong>Bike host : </strong><%= @boxbike.user.name %> </li>
          <li><%= "Box address: " %><%= @boxbike.address %></li>
          <li><%= "Capacity: " %><%= @boxbike.capacity %></li>
          <li><%= "Spots left: " %><%= @boxbike.spots_left %></li>
          <li><%= "Base price per bike: " %><%= @boxbike.price %> €</li>
          <li>Price per spot : </li>
          <li> <% if @boxbike.charge_option%>
              <%= "Charge available" %>
              <% else %>
              <%= "Charge not available" %>
              <% end %>
        </ul>
      </div>
      <div class="card-category">
      <img src="https://s2.qwant.com/thumbr/0x380/7/7/954c8613cad86c78d9253165d2f2d832274a85792f497795bb0aeab75d6d87/Bike-Lockers-1024x819.jpg?u=https%3A%2F%2Fwww.zaun.co.uk%2Fmedia%2F2014%2F07%2FBike-Lockers-1024x819.jpg&q=0&b=1&p=0&a=1" />
      </div>

      <div id="map" class="card-category" style="height: 150px; width: 150px"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <% if !policy(@boxbike).edit? %>
      <div class="col-5">
        <div class="card-category">
          <div class="form-wrapper">
            <h2>Book a bikebox</h2>
            <%= simple_form_for [ @boxbike, @contract ] do |f| %>
              <%= f.input  :start_date, label: "Select your dates:", as: :string, required: false, input_html: {id: "range_start", class: "d-none"} %>
              <%= f.input  :end_date, label: false, as: :string, required: false, input_html: {id: "range_end", class: "d-none"} %>
              <%= f.input  :number_bikes, collection: 1..10, input_html: {id: "total-bikes"} %>
              <%= f.submit 'Submit', class: 'btn btn-primary' %>
            <% end %>
            <br>
            Booking for <span id="total-days">0</span> days
            <br>
            Total price : <span id="total-price">0</span> €
            <p>
              Price per bike :
              <span id="box-price-per-day"><%= @boxbike.price %></span> € / day
            </p>
          </div>
        </div>
      </div>
    <% end %>
 </div>
</div>

<div class="container">
  <div class="index-content d-flex">
    <div class="col-7">
      <div class="card-category" id="card-category">
        <div>
          <%= link_to "Back to boxes list", boxbikes_path %>
          <br>
          <% if policy(@boxbike).edit? %>
            <%= link_to "Edit your Bikebox", edit_boxbike_path(@boxbike)  %>
          <% end %>
          <br>
          <% if policy(@boxbike).destroy? %>
          <%= link_to "Delete your Bikebox", boxbike_path(@boxbike), method: :delete, data: { confirm: "Are you sure?"} %>
          <br>
          <% end %>
          <br>
        </div>
      </div>
    </div>
  </div>



<div
  id="contract-form-div"
  data-contracts="<%= @contracts_dates.to_json %>">
<div>
  
</div>
</div>