<div class="container">
  <h1>Boxbike details</h1>
  <ul>
    <li><%= "renter's name: " %><%= @boxbike.user.name %> </li>
    <li><%= "box address: " %><%= @boxbike.address %></li>
    <li><%= "capacity: " %><%= @boxbike.capacity %></li>
    <li><%= "price: " %><%= @boxbike.price %></li>
    <li> <% if @boxbike.charge_option%>
         <%= "electricity available" %>
         <% else %>
         <%= "No electricity" %>
         <% end %>
  </ul>

  <%= link_to "Back to boxes list", boxbikes_path %> |
  <br>
  <%= link_to "Back to Home", root_path  %> |
  <br>
  <%= link_to "Edit", edit_boxbike_path(@boxbike)  %>
  <br>
  <%= link_to "Delete", boxbike_path(@boxbike), method: :delete, data: { confirm: "Are you sure?"} %>
  <br>
  <%#= link_to "Remove", contract_path(contract), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
