<div class="container">
  <h1>Boxbike details</h1>
  <ul>
    <li><%= "renter's name: " %><%= @boxbike.user.name %> </li>
    <li><%= "box address: " %><%= @boxbike.address %></li>
    <li><%= "capacity: " %><%= @boxbike.capacity %></li>
    <li>spots left :<%= @boxbike.spots_left %></li>
    <li><%= " Total price of box: " %><%= @boxbike.price %></li>
    <li>Price per spot : </li>
    <li> <% if @boxbike.charge_option%>
         <%= "electricity available" %>
         <% else %>
         <%= "No electricity" %>
         <% end %>
    <li>
      <div id="map-show"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div></li>
  </ul>
  
  <br>
  <h2>rent this box</h2>
  <%= simple_form_for [ @boxbike, @contract ] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :number_bikes %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>

  <%= link_to "Back to boxes list", boxbikes_path %> |
  <br>
  <%= link_to "Back to Home", root_path  %> |
  <br>

  <% if policy(@boxbike).edit? %>
    <%= link_to "Edit your Boxbike", edit_boxbike_path(@boxbike)  %>
  <% end %>

  <br>
  <% if policy(@boxbike).destroy? %>
  <%= link_to "Delete", boxbike_path(@boxbike), method: :delete, data: { confirm: "Are you sure?"} %>
  <br>
  <% end %>
</div>
