<div class="container">
  <h1>List of all contracts</h1>
  <ul>
    <% @contracts.each do |contract| %>
    <li>contract <%= contract.id %>
  <%= link_to "Cancel", contract_path(contract), method: :delete, data: { confirm: "Are you sure?" } %>
    </li><% end %>

      <!-- <li> <%#= link_to boxbike.address, boxbike_path(boxbike) %><%= " | " %><%#= link_to boxbike.user.name, boxbike_path(boxbike) %></li> -->
    <%# end %>
  </ul>
  <%= link_to "Back to boxbike", boxbike_path(@boxbike)  %>
  <br>
  <%= link_to "Add another box", new_boxbike_path %>
  <br>
  <%= link_to "Back to Home", root_path  %>
  <br>
</div>
